{
    "godot_path": "C:\\Users\\wes\\Documents\\windev\\Godot_v4.6-beta3_win64.exe",
    "project_path": "C:\\Users\\wes\\Documents\\windev\\gwj-89\\project.godot",
    "build_path": "C:\\Users\\wes\\Documents\\windev\\gwj-89\\build\\web"
}